@media (max-width: 480px) {

header {
    background-size: 150% auto;
}
.nav-flex-container {
    display: block;
}
.footerow-flex-container {
    display: block;
}

.flast-flex-container {
    display: block;
}
.flex-container {
    display: block;
}
.genre-text {
	height: 100%;
}

#details {
    padding: 0px 0px 50px;
}
.febgdiv {
    padding-left: 5px;
    padding-right: 5px;
}
.search-query {
    padding: 8px 0px 8px 8px;
}
.btn-book {
    padding: 8px 88px;
}

























}