body {
	padding: 0;
	font-family: 'arial', sans-serif;
	background: #eeeff2;
	color: #25272B;
}
ul, ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
::selection {
	background: #00a9df;
	color: #fff;
	-webkit-text-stroke-color: #fff;
}

::-moz-selection {
	background: #00a9df;
	color: #fff;
}

.headerbg img{
	max-width: 100%;
}

/* ==== Typography ==== */
.icontext {
    color: #000000;
    font-size: 11px;
    margin-right: 20px;
}
.icontext img{
	margin-right: 5px;
	max-width: 100%;
}
.basecolor h3, .basecolor{
	color: #be9e3b}
h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
}
.basecolor i{
	font-size: 22px;
	color: #be9e3b
}
.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

h1 {
	font-size: 56px;
	font-weight: 200;
	color: #25272B;
	text-align: center;
	margin: 0 0 10px 0;
	line-height: 1;
	letter-spacing: -3px;
}

@media (max-width: 568px) {
	h1 {
		font-size: 46px;
		letter-spacing: -2px;
	}
}

p {
	line-height: 1.2;
}

p.lead {
	font-size: 18px;
	font-weight: 400;
	margin: 15px 0 75px 0;
	line-height: 1.5;
}

a {
	font-size: 14px;
	color: #25272B;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

a:hover {
	color: #25272B;
	text-decoration: none;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.divider {
	margin: 90px 0;
	border-bottom: 1px dashed #dfe1e3;
}

.content-divider {
	margin: 30px 0 90px 0;
	border-bottom: 1px dashed #dfe1e3;
}

.small-divider {
	margin: 30px 0;
	border-bottom: 1px dashed #dfe1e3;
}

textarea:focus, input:focus, a:focus, a:visited, *:focus {
	outline: none;
}

#bottom {
	background: #570b27;
	padding: 50px;
	color:#ffffff;
}

@media (max-width: 767px) {
	#bottom {
		text-align: center;
	}
}


#ticketing h3 {
	font-size: 21px;
	font-weight: 200;
	line-height: 1;
	color: #be9e3b;
	margin: 15px 0;
	-webkit-text-stroke: 0.03em #25272B;
}

#bottom h3 {
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
	margin: 5px 0;
	-webkit-text-stroke: 0.03em #25272B;
}

#ticketing h5, #bottom h5 {
	font-size: 13px;
	color: #bbbdc0;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#ticketing p, #bottom p {
	margin: 15px 0 35px 0;
	color:#ffffff;
}

#ticketing{
		background: #570b27;
}

.ticket{
	padding: 0px 50px;
}
.ticket label{
	color: #ffffff;
}
.eventdate{
	margin-left: 10px;
}
.space{margin-left: 10px;}

.input-group-addon {
    color: #000000;
}


#details {
	background: #ffffff none repeat scroll 0 0;
	padding: 0px 50px 50px;
}


.febgdiv{
    padding-left: 5px;
    padding-right: 0;
}
.febg{
	background: #eaeaea none repeat scroll 0 0;
	padding: 10px;
}
.febgone{
	border-right: 1px solid #ffffff;
    font-size: 18px;
    padding: 17px;
}
.featured {
    padding: 5px;
}
.featured h3{
    font-family: fontawesome;
    font-weight: 900;
}
header {
    background-image: url("../img/headers/bg.jpg");
    background-position: 50% 50%;
    background-repeat: repeat-x;
    background-size: 120% auto;
    padding-bottom: 28.5%;
    position: relative;
}

/*@media (max-width: 768px) {

}

*/


/*@media (min-width: 480px) and (max-width: 767px) {
header {
    background-size: 150% auto;
	}
}
*/

.rowtop{
	padding-top: 10px;
}


.margin {
	padding-left: 0%;
	padding-right: 0%;
}
.margin-details {
	padding: 5px;
}
.genre{
	padding:5px;
	background-color:#eaeaea;
}
.genre-bottoms{
	padding:5px;
}
.genre-text{
    display: table-cell;
    height: 90px;
    padding: 0;
}

.genre-text h2, .h2 {
    font-size: 120%;
    font-weight: 600;
    color:#570b27;
    margin-bottom: 0;
	margin-top: 2px;
    text-transform: uppercase;
}
.genre-image-thumb img{max-width:100%;}

.booknow{padding-top: 0px;}
.btn-book{
	background: #570b27;
    border-radius: 0;
    color: #ffffff;
    font-weight: 600;
    padding: 8px 20px;
}
.btn-book:after {
	font-family: FontAwesome;
    content:"\f18e";
    margin: 10px;
}
.seemore{
	text-align: center;
	padding: 40px 20px 0;	
}
.pie{
	float: right;
	padding: 0;
}
.pie img{
	max-width: 100%;
}
.genre-box{
    font-size: 96%;
    height: 100%;
}
.nav-flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    }

.nav-flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: flex-end;
    align-self: flex-end;
    }

.nav-flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: flex-end;
    align-self: flex-end;
    }

 .footerow-flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    }

.footerow-flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.footerow-flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    }

.flast-flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    }

.flast-flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: flex-end;
    align-self: flex-end;
    }

.flast-flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: flex-end;
    align-self: flex-end;
    }

.flast-flex-item:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: flex-end;
    align-self: flex-end;
    }

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    }

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.left{
	border-right: 1px solid #885568;
}
.top{
	border-top: 1px solid #FFFFFF;
}
.components {
	padding: 90px 0px 70px 0px;
	background: #fff;
}

.components h1 {
	font-size: 49px;
	margin: 0;
}

.btn {
	margin-top: 4px;
	margin-bottom: 4px;
}

.find-btn {
    background-color: #fff;
    border-radius: 0;
    color: #000;
    margin-bottom: 0;
    margin-top: 20px;
    width: 100%;
}

/*.nav-tabs, .nav-pills {
	margin-bottom: 15px;
}

.nav-pills li.active a {
	color: #fff !important;
}

.nav-tabs li a:hover, .nav li a:focus {
	background: none;
}

.tabbable .nav-tabs .active a {
	color: #00a9df !important;
}*/

.logo{
	display: inline;
}
.topmenu{
	display: inline;
    padding: 19px 7px 0 20px;
}
.box-office{display: block;}
.box-text{margin-top: 0px;}
.topone{padding-bottom: 5px;}
.search{padding: 0px;}
.search-query{padding: 8px 8px 8px 50px;}
.searchbox{padding: 10px;}
#custom-search-input .form-control, #custom-search-input .form-control:focus {
	color: #25272B;
	text-align: start;
	border: 0;
	outline: none;
	resize: none;
	background: #eeeff2;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
    height: 30px;
    line-height: 1.42857;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}
/* ==== Footer ==== */

#footer {
	background-color: #ffffff;
}

#footer .copy {
	text-align: left;
}
.footerlogos{
	display: block;
	
}
.footerlogos li {
    display: inline-block;
}
.footerlogos img{
	max-width:100%;
}
.footerlogos-cols{
    padding-left: 5px;
    padding-right: 5px;
}
.footerflex{display: flex;}
@media (max-width: 767px) {
	#footer .copy {
		text-align: center;
	}
}

#footer .social {
	text-align: right;
}

@media (max-width: 767px) {
	#footer .social {
		text-align: center;
	}
}

/* ==== Footer Social ==== */

.footerow a {
	font-size: 24px;
}

.footerow{padding: 20px 50px 5px;}
.footerow-bottom{padding: 0px 50px 20px;}

.footer-narrow p {
    color: #570b27;
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 5px;
}
.grange{
	display: flex;
}
.grange a{
	font-size: 0px;
}
.grange img {
    max-width: 100%;
}
.narrow p{
    font-size: 9px;
    margin: 0 0 5px;
}
.pspace{padding: 10px 0px}

.footerspan{
	position: relative;
}
.nopad{padding-left: 0;padding-right: 0}

.form-control, .form-control:focus {
	color: #25272B;
	text-align: center;
	border: 0;
	outline: none;
	resize: none;
	background: #eeeff2;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
}

@media (min-width: 768px) {
	.form-group {
		display: inline-block;
	}
}

.form-group, label {
	font-weight: 400;
	text-align: start;
	line-height: 1.2;
	width: 100%;
	color: #ffffff;
}


#form-alert {
	text-align: center;
	padding: 5px 15px 5px 15px;
	margin: 15px 0 0 0;
}

form .btn {
	display: inline-block;
	margin: 0;
}

/* ==== Navigation ==== */

.navbar {
	background: #fff;
}

.navbar-brand {
	padding: 0px;
	margin-left: -15px;
}

.nav a {
	color: #25272B !important;
}

.nav a:hover {
	color: #bbbdc0 !important;
}

.nav .active a {
	color: #bbbdc0 !important;
}

.navbar .nav .active a, .navbar .nav .active a:hover {
	background: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
}

.navbar .nav li a {
	text-shadow: none;
	text-align: center;
	padding: 0px 15px;
}

@media (max-width: 767px) {
	.navbar .nav li a {
		padding: 10px 15px;
	}
}
/*
.navbar-toggle {
	margin: 5px 0;
	border-radius: 0;
	right: 15px;
}
*/
.navbar-toggle {
    margin: 50px 0px;
    border-radius: 0;
    left: 320px;
}
.nav-collapse .nav li a:hover, .nav-collapse .dropdown-menu a:hover {
	background-color: transparent;
}

.nav-collapse .nav li a {
	font-weight: 400;
	font-size: 13px;
}

.navbar .nav .active a, .navbar .nav .active a:hover, .navbar .nav .active a:focus {
	background-color: transparent !important;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
}

.mynav {
    display: inline-block;
    float: none;
    margin-bottom: 0;
    margin-top: 0;
}

.mynav.nav li a {
    font-size: 16px;
    font-weight: 800;
    padding: 10px 40px;
    text-align: center;
    text-shadow: none;
}
.navcenter{
	text-align: center;
}
.nomarginnav{
	margin-bottom: 0;
}
.navborder{
	border-top: 1px solid #f2f2f2;
}
.navspace {
    margin: 10px;
}
.pipe{
	text-shadow: none;
	text-align: center;
	padding: 0px 15px;	
	font-weight: 400;
	font-size: 13px;
}
.cart:after {
	font-family: FontAwesome;
    content:"\f291";
    font-size: 9px;
    padding: 20px 8px;
}
.slideimage{
	background: url('../img/headers/bg3.jpg');
	background-position: 50% 50%;
	background-size: 400%;
}
.btn {
	border: none;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
.btn-seemore{
	background: #c6ad5d;
    border-radius: 0;
    color: #ffffff;
    font-weight: 600;
    padding: 8px 20px;
}
.btn-syndicate:hover {
	color: #fff;
	background-color: #009acb;
	border-color: #009acb;
}
.btn-genre{
    border-radius: 0;
    color: #be9e3b;
    font-weight: 600;
    padding: 2px 20px;
}
.btn-genre:hover {
	color: #be9e3b;
	background: #e3e4e5;
	border-color: #f2f2f2;
}
.btn-more {
	color: #fff;
	padding: 0px 6px;
}

.btn-more:hover {
	background: #dddedf;
}

.more {
	text-align: center;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	margin-bottom: 50px;
	z-index: 2;
}

.more a {
	position: relative;
}
.btn-readmore{
	background-color: #232323;
    color: #fff;
    -moz-user-select: none;
    border: 0px solid transparent;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.42857;
    padding: 8px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap
}

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}
/*media queries*/
@media only screen and (max-width : 320px){
header {
    background-size: 150% auto;
}
.navbar-toggle {
    left: 240px;
}
.nav-flex-container {
    display: block;
}
.footerow-flex-container {
    display: block;
}

.flast-flex-container {
    display: block;
}
.flex-container {
    display: block;
}
.genre-text {
	height: 100%;
}
#details {
    padding: 0px 0px 50px;
}
.febgdiv {
    padding-left: 5px;
    padding-right: 5px;
}
.search-query {
    padding: 8px 0px 8px 8px;
}
.btn-book {
    padding: 8px 50px;
}
.febgone {
    border-bottom: 1px solid #ffffff;
    text-align: center;
}
.excel{
    margin-left: 0px;
}
.boxrestrict{
    margin-left: 0px;
    margin-right: 0px;
}
.icontext {
    margin-right: 10px;
}
 
}
@media (min-width 320px) and (max-width 479px) {
header {
    background-size: 150% auto;
}
.navbar-toggle {
    left: 240px;
}
.nav-flex-container {
    display: block;
}
.footerow-flex-container {
    display: block;
}

.flast-flex-container {
    display: block;
}
.flex-container {
    display: block;
}
.genre-text {
	height: 100%;
}
#details {
    padding: 0px 0px 50px;
}
.febgdiv {
    padding-left: 5px;
    padding-right: 5px;
}
.search-query {
    padding: 8px 0px 8px 8px;
}
.btn-book {
    padding: 8px 50px;
}
.febgone {
    border-bottom: 1px solid #ffffff;
    text-align: center;
}
.excel{
    margin-left: 0px;
}
.boxrestrict{
    margin-left: 0px;
    margin-right: 0px;
}
.icontext {
    margin-right: 10px;
}

}	
@media (min-width: 480px) and (max-width: 767px) {

header {
    background-size: 150% auto;
}
.nav-flex-container {
    display: block;
}
.footerow-flex-container {
    display: block;
}

.flast-flex-container {
    display: block;
}
.flex-container {
    display: block;
}
.genre-text {
	height: 100%;
}
#details {
    padding: 0px 0px 50px;
}
.febgdiv {
    padding-left: 5px;
    padding-right: 5px;
}
.search-query {
    padding: 8px 0px 8px 8px;
}
.btn-book {
    padding: 8px 88px;
}
.febgone {
    border-bottom: 1px solid #ffffff;
    text-align: center;
}
.excel{
    margin-left: 14px;
}
.boxrestrict{
    margin-left: 14px;
    margin-right: 54px;
	}
}
@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }
}
